.formContainer {
    margin-top: 50px;
    width: 75vw;
    margin: 50px auto;
    border: 1px solid #ebebeb;

    form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 15px;
        padding: 10px;
        font-size: 16px;

        @media(max-width: 700px) {
            font-size: 14px;
        }

        h3 {
            font-size: 24px;
            color: #4e618d;

            @media(max-width: 700px) {
                font-size: 20px;
            }
        }

        input {
            padding: 10px;
            border: 1px solid #4e618d;
            border-radius: 5px;
            height: 40px;
        }
    }
}

.fieldName {

    input {
        width: 100%;
        box-sizing: border-box;  
    }
}

.fieldDate {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    div {
        width: 30%;
        display: flex;
        flex-direction: column;

        @media(max-width: 600px) {
            width: 100%;
        }

        input {
            width: 100%;
            box-sizing: border-box;
        }
    }

    @media(max-width: 600px) {
        flex-direction: column;
    }
}

.formButtons {
    display: flex;
    justify-content: space-between;

    button {
        padding: 10px 30px;
        border-radius: 5px;
        font-weight: 500;
        border: 2px solid #4e618d;
    }
}

.formButtons button:first-child {
    border: 2px solid #4e618d;
    color: #4e618d;

    &:hover{
        background-color: #4e618d;
        color: #fff;
    }
}

.formButtons button:last-child {
    background-color: #4e618d;
    color: #fff;

    &:hover{
        background-color: #fff;
        color: #4e618d;
    }
}

.formErrorMessage {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}