.buttonGroupWrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    white-space: pre-line;

    @media (max-width: 1300px) {
        max-width: 1000px;
    }
}

.buttonGroupWrapperSmall {
    max-width: 1000px;
    margin: 0 auto;
    padding: 25px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
}

.oneButtonWrapper {
    flex: 1;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 20px;
    text-align: center;

    color: #585859;
    

    &:hover,
    &:active,
    &.clicked {
        border: 2px solid #28d2d0;
        color: #333333;
    
        button {
          background-color: #28d2d0;
        }
      }

    button {
        border-radius: 20px;
        border: none;
        background-color: #888;
        padding: 5px 10px;
        width: 50px;
        color: #fff;
        font-weight: 600;
        margin-bottom: 15px;
    }
}