/* -breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px; */


@media (max-width: 640px) {
    .search-bar {
        display: none;
    }
    .brand-section {
        flex-direction: column;
        align-items: start;
        gap: 20px;
        margin-bottom: 50px;
    }
    .brand-images {
        display: flex;
        justify-content: start;
    }
    .brand-text {
        margin-left: 35px;
    }
    .footer-search-wrapper {
        flex-direction: column;
        gap: 5px;
        margin-bottom: 50px;
    }
    .statistic-text br {
        display: none;
    }
    .number-text-1 {
        margin-left: 10px;
    }
}

@media (max-width: 768px) {
    .header-icons {
        gap: 30px;
    }
    .search-bar {
        margin: 0 50px 0 30px;
    }
    .header-nav-hamburger {
        display: flex;
    }
    .hidden-icon {
        color: var(--white-color);
    }
    .header-nav-bottom {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 90vh;
    }
    .header-nav-bottom-item {
        width: 100%;
        padding: 14px 10px;
    }
    .header-nav-bottom-menu {
        display: flex;
        justify-content: space-between;
    }
    .hidden-subsubmenu-item a {
        display: flex;
        justify-content: space-between;
    }
    .nav-separator {
        display: none;
    }
    .hidden-bottom-menu {
        width: 100%;
        top: 5px;
    }
    .header-nav-bottom .hidden-menu {
        box-shadow: none;
        border: none;
        left: 5px;
        position: relative;
    }
    .hidden-bottom-ul {
        gap: 10px;
    }
    .ways-wrapper {
        flex-direction: column;
        gap: 25px;
    }
    .statistic-section {
        flex-direction: column;
        gap: 50px;
    }
    .statictic-separator::after {
        content: none;
    }
}

@media (max-width: 1000px) {
    .header-icons .hidden, .header-icons button {
        display: none;
    }
    .hidden-account, .hidden-contact {
        top: 30px;
        left: -120px;
        width: 180px;
        padding: 30px 20px;
        font-weight: 600;
    }
    .header-nav-bottom {
        flex-wrap: wrap;
    }
    .hero-section {
        flex-direction: column;
    }
    .hero-title-wrapper {
        max-width: 100%;
    }
    .hero-image {
        display: none;
    }
    .how-work-wrapper {
        flex-direction: column-reverse;
        margin-left: 50px;
        gap: 70px;
    }
    .image-wrapper {
        width: 106%;
        margin-left: -55px;
    }
    .question-section {
        flex-direction: column;
        align-items: stretch;
    }
    .question-title, .question-item-title {
        margin-left: 15px;
    }
    .consultation-section {
        flex-direction: column;
        align-items: stretch;
    }
    .brand-text {
        width: 45%;
    }
    .footer-container {
        max-width: 1200px;
        margin: 0 auto;
    }
    .footer-menu {
        flex-wrap: wrap;
        gap: 15px;
    }
    .footer-menu-list, .footer-menu-list:last-child {
        flex: 40%;
    }
    .footer-menu-list:last-child {
        margin-bottom: 50px;
    }
    .footer-menu-list:last-child div {
        margin-bottom: 15px;
    }
    .footer-copyright {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .footer-social-icon {
        gap: 25px;
    }
}

@media (max-width: 1200px) {
    .main-container {
        max-width: 970px;
    }
    .brand-images img {
        margin:  15px 35px;
    }
}

@media (min-width: 1280px) {
    .search-bar {
        margin: 0 175px;
    }
    /* .nav-container {
        max-width: 1188px ;
    }
    .main-container {
        max-width: 1188px;
    } */
    .header-icons {
        margin: 0 5px 0 10px;
    }
    .header-nav-bottom {
        justify-content: space-between;
    }
}

@media (min-width: 1600px) {
    .nav-container {
        max-width: 1585px;
    }
    .main-container {
        max-width: 1288px;
    } 
    .header-nav-top {
        padding: 21px 40px;
    }
    .header-nav-bottom {
        padding: 0 40px;
    }
    .copyright-year {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .footer-menu-list {
        flex: 100%;
    }
    .how-work-numbers-item {
        gap: 25px;
        padding: 20px 25px;
    }
    .footer-copyright br {
        display: none;
    }
    .number-text-1 {
        margin-left: 15px;
    }
}

@media (max-width: 400px) {
    .consultation-button {
        font-size: 13px;
        padding: 12px 18px;
    }
    .brand-images img {
        margin:  15px 25px;
    }
    .footer-search-input {
        font-size: 16px;
    }
    .how-work-numbers-item::before, .how-work-numbers-item::after {
        left: -30px;
    }
    .how-work-wrapper {
        margin-left: 30px;
    }
    .image-wrapper {
        margin-left: -25px;
    }
    .header-icons {
        gap: 10px;
        margin: 0 0 0 10px;
    }
    .header-nav-hamburger {
        margin: 0 0 0 10px;
    }
    .header-nav-top img {
        width: 80%;
    }
    .ways-title {
        font-size: 24px;
    }
    .hero-title-wrapper {
        align-items: stretch;
    }
    .hero-title-button {
        width: 100%;
    }
    .consultation-left {
        padding: 70px 30px;
    }
    .consultation-right-item-wrapper {
        padding: 70px 30px;
    }
}