/* -breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px; */

@media (max-width: 1000px) {
    .header-icons .hidden, .header-icons button {
        display: none;
    }
    .hidden-account, .hidden-contact {
        top: 30px;
        left: -120px;
        width: 180px;
        padding: 30px 20px;
        font-weight: 600;
    }
    .header-nav-bottom {
        flex-wrap: wrap;
    }
    .hero-section {
        flex-direction: column;
    }
    .hero-image {
        display: none;
    }
    .how-work-wrapper {
        flex-direction: column-reverse;
        margin-left: 50px;
        gap: 70px;
    }
    .image-wrapper {
        width: 106%;
        margin-left: -55px;
    }
    .question-section {
        flex-direction: column;
        align-items: stretch;
    }
    .consultation-section {
        flex-direction: column;
        align-items: stretch;
    }
    .brand-text {
        width: 45%;
    }
    .footer-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }
    .footer-menu {
        flex-wrap: wrap;
        gap: 15px;
    }
    .footer-menu-list, .footer-menu-list:last-child {
        flex: 40%;
    }
    .footer-menu-list:last-child {
        margin-bottom: 50px;
    }
    .footer-menu-list:last-child div {
        margin-bottom: 15px;
    }
    .footer-copyright {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .footer-social-icon {
        gap: 25px;
    }
}

@media (max-width: 1200px) {
    .main-container {
        max-width: 970px;
    }
    .brand-images img {
        margin:  15px 35px;
    }
}

@media (min-width: 1280px) {
    .search-bar {
        margin: 0 175px;
    }
    /* .nav-container {
        max-width: 1188px ;
    }
    .main-container {
        max-width: 1188px;
    } */
    .header-icons {
        margin: 0 5px 0 10px;
    }
    .header-nav-bottom {
        justify-content: space-between;
    }
}

@media (min-width: 1600px) {
    .nav-container {
        max-width: 1585px;
    }
    .main-container {
        max-width: 1288px;
    } 
    .header-nav-top {
        padding: 21px 40px;
    }
    .header-nav-bottom {
        padding: 0 40px;
    }
    .copyright-year {
        font-size: 16px;
    }
}