@import './reset.css';

:root {
    --primary-text-color: #1e2022;
    --secondary-dark-text-color: #4a4a4a;
    --secondary-light-text-color: #77838f;
    --hero-color: #377dff;
    --hover-to-hero-color: #0052ea;
    --hover-to-menu: #2874f0;
    --header-color: #0f2e60;
    --box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.07);
    --dropdown-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
    --white-color: #ffffff;
    --light-grey-color: #cccccc;
    --light-menu-item-color: #e1e1e1;
    --light-grey-border-color: #e7eaf3;
    --footer-color: #ebebeb
}

::selection {
    color: var(--white-color);
    background-color: var(--hero-color);
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
}

.header, .footer {
    font-family: "Raleway", sans-serif;
    color: var(--secondary-dark-text-color);
    font-size: 14px;
}

.header-nav-top-wrapper {
    background-color: var(--header-color);
}

.nav-container {
    max-width: 1188px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-nav-top {
    padding: 21px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);   
}

.search-bar {
    align-items: center;
    /* width: 310px; */
    flex: 1;
    padding: 0 12px;
    margin: 0 48px;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    background-color: var(--white-color);
    position: relative;
}

.search-input {
    width: 100%;
    padding: 8px;
    line-height: 20px;
}

.search-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.nav-search-icon {
    width: 16px;
    height: 16px;
    color: var(--secondary-dark-text-color);
}

.header-icons {
    color: var(--light-menu-item-color);
    display: flex;
    gap: 15px;
    font-size: 12px;
    font-weight: 700;
    position: relative;
    margin: 0 15px;
}

.header-icons-account, .header-icons-contact, .header-icons-favorite {
    display: flex;
    gap: 9px;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.header-icons-account:hover .user-icon, 
.header-icons-contact:hover .phone-icon, 
.header-icons-favorite:hover .heart-icon {
    color: var(--white-color);
}

/* .fa-user, .fa-phone, .fa-heart {
    font-size: 14px;
} */

.user-icon, .phone-icon, .heart-icon {
    color: var(--light-menu-item-color);
    width: 14px;
    height: 14px;
}

.header-icons button {
    background-color: var(--header-color);
    border: 1px solid var(--white-color);
    border-radius: 5px;
    padding: 10px 8px;
    margin-left: 5px;
    transition: all 0.2s ease-in-out;
    color: inherit;
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
}

.header-icons button:hover {
    background-color: var(--white-color);
    color: var(--header-color);
}

.hidden-menu {
    display: none;
    background-color: var(--white-color);
    color: var(--secondary-dark-text-color);
    border-radius: 5px;
    box-shadow: var(--dropdown-shadow);
    border: 1px solid #e5e7eb;
    position: absolute;
    z-index: 9;
}

.hidden-menu p {
    font-size: 14px;
}

.hidden-account, .hidden-contact {
    top: 40px;
    left: -50px;
    width: 180px;
    padding: 30px 20px;
    font-weight: 600;
}

.hidden-account a:first-child p:first-of-type {
    margin-bottom: 25px;
}

.hidden-account a:hover, .hidden-contact a:hover {
    color: var(--hover-to-hero-color)
}

/* .header-icons-account:hover .hidden-account {
    display: block;
}

.header-icons-contact:hover .hidden-contact {
    display: block;
} */

.hidden-contact div {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.hidden-contact div:last-child {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.hidden-contact p {
    margin-left: 15px;
}

/* .hidden-contact i {
    color: var(--light-grey-color);
    font-size: 18px;
}

.hidden-contact i:hover {
    color: var(--hero-color);
}

.hidden-contact i:hover + a {
    color: var(--hero-color);
} */

.hidden-icon {
    color: var(--light-grey-color);
    width: 20px;
    height: 20px;
}

.hidden-icon:hover {
    color: var(--hover-to-menu);
}

.hidden-contact .hidden-icon:hover + a {
    color: var(--hero-color);
}

.header-nav-hamburger {
    display: none;
    margin: 0 10px;
    cursor: pointer;
}

.header-nav-hamburger-icon {
    fill: var(--white-color);
    width: 25px;
    height: 25px;
}

.hamburger-login {
    position: fixed;
    z-index: 15;
    border-top: 1px solid var(--light-grey-border-color);
    box-shadow: -1px 4px 12px rgb(0, 0, 0, 0.25);
    width: 100%;
    bottom: 0px;
    display: none;
    justify-content: space-between;
    gap: 15px;
    padding: 15px 20px;
    background-color: var(--white-color);
}

.hamburger-btn {
    flex: 1;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 2px;
}

.hamburger-login-btn {
    background-color: #efefef;
}

.hamburger-login-btn:hover {
    color: var(--hover-to-hero-color);
}

.hamburger-sign-btn {
    background-color: var(--hero-color);
    color: var(--white-color);
}

.scroll {

}

.scroll-btn {
    display: none;
    background-color: var(--hero-color);
    color: var(--white-color);
    font-size: 12px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    opacity: 0.5;
    transition: 0.3s ease-out;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;
}

.scroll-btn:hover {
    opacity: 1;
}

/* HEADER NAV BOTTOM */


.header-nav-bottom-wrapper {
    font-weight: 600;
    box-shadow: var(--box-shadow);
}

.header-nav-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-nav-bottom-item {
    position: relative;
    padding: 8px 20px;
}

.header-nav-bottom-item:hover, .header-nav-bottom a:hover  {
    color: var(--hover-to-hero-color);
}

.nav-arrow-down, .nav-arrow-down-right {
    display: inline;
    margin-left: 5px;
    fill: var(--secondary-dark-text-color);
    transform: translateY(1px);
}

.nav-arrow-right, .nav-arrow-up {
    display: none;
    margin-left: 5px;
    fill: var(--hover-to-hero-color);
}

.header-nav-bottom-item:hover .nav-arrow-down {
    display: none;
}

.header-nav-bottom-item:hover .nav-arrow-up {
    display: inline;
}

.hidden-subsubmenu-item:hover .nav-arrow-down-right {
    display: none;
}

.hidden-subsubmenu-item:hover .nav-arrow-right {
    display: inline;
}

.header-nav-bottom-item:hover .hidden-menu {
    display: block;
}

.nav-separator {
    height: 20px;
    width: 0.5px;
    background-color: var(--light-grey-border-color);
    margin: 18px;
}

.hidden-bottom-menu {
    font-size: 13px;
    font-weight: 400;
    padding: 20px;
    width: 220px;
    top: 47px;
    left: -5px;
}

.hidden-resources {
    left: -125px;
}

.hidden-bottom-ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hidden-names-submenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.hidden-names-submenu a {
    color: var(--secondary-light-text-color);
}

.hidden-subsubmenu-item {
    font-weight: 600;
    position: relative;
}

.hidden-ideas {
    display: none;
    visibility: hidden;
    left: -260px;
    top: -20px;
}

/* .hidden-subsubmenu-item:hover .hidden-ideas {
    display: block;
    visibility: visible;
} */


/* MAIN */

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* HERO SECTION */

.hero-section {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 58%;
    margin-bottom: 20px;
}

.title-before {
    background-color: rgba(55,125,255,.1);
    color: var(--hero-color);
    border-radius: 15px;
    font-size: 11px;
    padding: 7px 14px;
}

.hero-title {
    font-size: 40px;
    font-weight: 600;
}

.hero-title-text {
    color: var(--secondary-light-text-color);
    line-height: 1.7;
    margin-top: -3px;
}

.main-button {
    background-color: var(--hero-color);
    color: var(--white-color);
    padding: 12px 22px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hero-title-button {
    border-radius: 30px;
    margin-top: 14px;
}

.main-button:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 11px rgba(45,21,130,.35);
}

.fa-play {
    margin-right: 7px;
}

.hero-image {
    width: 40%;
    margin-top: 10px;
}


/* 3 WAYS SECTION */

.ways-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 90px;
}

.ways-title {
    font-size: 32px;
}

.ways-wrapper {
    display: flex;
    gap: 30px;
    margin-top: 60px;
}

.ways-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 60px 15px;
    border: 0.5px solid var(--light-grey-border-color);
    border-radius: 5px;
}

.ways-card-title {
    font-size: 24px;
    font-weight: 500;
}

.section-icon {
    width: 70px;
}

.ways-button {
    border-radius: 5px;
    margin-top: 10px;
}


/* How Do Naming Contests Work? */

.how-work-section {
    border-top: 0.5px solid var(--light-grey-border-color);
    border-bottom: 0.5px solid var(--light-grey-border-color);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-top: 30px;
    padding: 120px 0;
}

.how-work-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 110px;
    margin-top: 70px;
}

.image-wrapper {
    flex: 0.95;
    margin-left: 15px;
}

.how-work-numbers-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.how-work-numbers-item {
    border: 0.5px solid var(--light-grey-border-color);
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 25px 35px;
    position: relative;
}

.number-count {
    font-size: 56px;
    font-weight: 500;
    color: var(--hero-color);
    flex: 1;
}

.number-text {
    flex: 9;
}

.how-work-numbers-item::before {
    content: '';
    height: 0.5px;
    width: 30px;
    background-color: var(--light-grey-border-color);
    position: absolute;
    left: -50px;
}

.how-work-numbers-item::after {
    content: '';
    height: 150%;
    width: 0.5px;
    background-color: var(--light-grey-border-color);
    position: absolute;
    left: -50px;
}

.how-work-numbers-item:first-child:after {
    height: 50%;
    bottom: 0;
}

.how-work-numbers-item:last-child:after {
    height: 50%;
    top: 0;
}


/* Questions section */

.question-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    margin-top: 70px;
}

.question-menu {
    background-color: var(--hero-color);
    color: var(--light-menu-item-color);
    border-radius: 5px;
    padding: 30px;
    font-size: 14px;
    flex: 0.95;
}

.question-menu-ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.question-menu-ul a:hover {
    color: var(--white-color);
}

.question-wrapper {
    flex: 4;
}

.question-list {

}

.question-separator {
    height: 0.5px;
    width: 100%;
    background-color: var(--light-grey-border-color);
    margin: 80px 0 65px 0;
}

.question-title {
    color: var(--hero-color);
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
}

.question-item {
    margin-bottom: 15px;
    box-shadow: 0 2px 0px rgba(0,0,0,.05)
}

.question-item-title {
    border: 0.3px solid var(--light-grey-border-color);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
    user-select: none;
}

.question-item-title p:hover {
    color: #0052ea;;
}

.question-item-wrapper:hover {
    background-color: #f8fafd;
}

.fa-arrow-right, .fa-arrow-down {
    color: var(--hero-color);
}

.fa-arrow-right {
    display: block;
}

.fa-arrow-down {
    display: none;
}

.question-hidden-item {
    border: 0.3px solid var(--light-grey-border-color);
    padding: 15px;
    display: none;
}

.question-hidden-item li {
    list-style-type: disc;
    margin-left: 40px;
}

.question-hidden-item a {
    color: var(--hero-color);
}

.question-hidden-item a:hover {
    color: #0052ea;
}


/* CTA section */

.cta-section {
    margin: 70px 0;
    background: linear-gradient(150deg, #2d1582 0%, #19a0ff 100%);
    position: relative;
}

.cta-text-wrapper {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cta-title {
    color: #00dffc;
    font-size: 32px;
    font-weight: 600;
}

.cta-text {
    color: var(--white-color);
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    z-index: 2;
}

.cta-button {
    border-radius: 5px;
    color: var(--primary-text-color);
    background-color: var(--white-color);
}

.cta-button:hover, .cta-button:focus {
    box-shadow: 0 4px 11px rgba(255,255,255,.35)
}

.cta-img {
    position: absolute;
    max-width: 208px;
}

.cta-img-left {
    top: 0;
}

.cta-img-right {
    bottom: 0;
    right: 0;
}



/* Statictic section */

.statistic-section {
    display: flex;
    gap: 30px;
}

.statistic-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
    position: relative;
}

.statistic-image {
    max-width: 90px;
    max-height: 90px;
    object-fit: cover;
    margin-bottom: 20px;
}

.statistic-sharing-image {
    max-width: 70px;
    margin-bottom: 20px;
}

.statistic-text {
    color: var(--secondary-light-text-color);
    line-height: 1.7;
}

.statistic-span {
    font-weight: 600;
    color: var(--primary-text-color);
}

.statictic-separator::after {
    content: '';
    height: 60px;
    width: 0.3px;
    background-color: var(--light-grey-color);
    transform: rotate(20deg);
    position: absolute;
    right: -15px;
    top: 30%;
}



/* Consultation section */

.consultation-section {
    display: flex;
    margin: 110px auto;
}

.consultation-left {
    flex: 3;
    box-shadow: 0 10px 40px 10px rgba(140,152,164,.175);
    padding: 70px 50px;
}

.consultation-left-item-wrapper {
    display: flex;
}

.consultation-round-item {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(55,125,255,.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.fa-angle-right {
    font-size: 10px;
    color: var(--hero-color);
}

.consultation-left-text {
    max-width: 90%;   
}

.consultation-left-item-wrapper:first-child .consultation-left-text {
    border-bottom: 0.3px solid var(--light-grey-border-color);
    margin-bottom: 30px;
}

.left-text-title-first {
    font-size: 20px;
    font-weight: 500;
}

.left-text-common {
    margin-top: 5px;
    font-size: 14px;
    color: var(--secondary-light-text-color);
    line-height: 1.7;
    margin-bottom: 30px;
}

.left-text-common a {
    color: var(--hero-color);
}

.left-text-common a:hover {
    color: var(--hover-to-hero-color);
}

.left-text-title-second {
    font-size: 24px;
}

.concultation-right {
    flex: 2.6;
    background-color: var(--hero-color);
    color: var(--white-color);
}

.consultation-right-item-wrapper {
    padding: 70px 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.right-text-title {
    font-size: 32px;
}

.right-text-common {
    font-size: 14px;
}

.consultation-button {
    background-color: var(--white-color);
    color: var(--hero-color);
    border-radius: 30px;
    margin: 10px 0 10px 0;
}

.consultation-button:hover  {
    box-shadow: 0 3px 6px 0 rgba(140,152,164,.25);
}

.consultation-phone:hover {
    color: var(--light-menu-item-color);
}



/* Brand section */

.brand-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.brand-text {
    margin-left: 20px;
    font-size: 28px;
    white-space: nowrap;
}

.brand-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.brand-images::before {
    content: '';
    height: 0.3px;
    width: 100%;
    background-color: var(--light-grey-color);
    position: absolute;
    right: -15px;
    top: -20px;
}

.brand-images img {
    width: 96px;
    margin:  15px 55px;
}


/* FOOTER */

footer {
    background-color: var(--footer-color);
    padding-top: 90px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    letter-spacing: 0.3px;
}

.footer-menu-list {
    flex: 1;
}

.footer-menu-list:last-child {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-menu-list-title {
    font-size: 19px;
    line-height: 32px;
    font-weight: 700;
    color: #333333;
    padding-bottom: 20px;
}

.footer-menu-ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 15px;
}

.footer-menu-ul a:hover {
    color: var(--hover-to-hero-color);
}

.footer-submenu-ul {
    margin-left: 25px;
    color: var(--secondary-light-text-color);
}

.footer-submenu-ul li {
    margin-bottom: 8px;
}

.footer-submenu-ul li:last-child {
    margin-bottom: -8px;
}



/* Footer search bar */

.footer-search {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.footer-search-title {
    margin-top: 60px;
}

.footer-search-wrapper {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.footer-left {
    flex: 1;
}

.footer-search-text {
    color: var(--secondary-light-text-color);
}

.footer-search-bar {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.footer-search-bar:focus, .footer-search-bar:focus-within {
    border: 1px solid var(--hero-color);
    border-radius: 5px;
}

.footer-search-input {
    height: 65px;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 5px 0 0 5px;
    padding: 15px;
    font-size: 18px;
}

.footer-input-button {
    background-color: var(--hero-color);
    border-radius: 0 5px 5px 0;
    height: 65px;
    width: 110px;
}

.footer-search-icon {
    width: 24px;
    height: 24px;
}

.footer-right {
    flex: 0.95;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-right: 30px;
}

.footer-power-button {
    background-color: var(--white-color);
    color: var(--secondary-dark-text-color);
    border: 1px solid var(--light-grey-border-color);
    border-radius: 10px;
    padding: 12px 15px;
    display: flex;
    align-items: center;
}

.footer-button-text {
    line-height: 20px;
    font-weight: 600;
    margin-left: 10px;
}

.footer-button-text:hover {
    color: var(--hover-to-hero-color);
}




/* Footer copyright */

.footer-copyright {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 50px;
}

.footer-copyright p {
    font-weight: 600;
    text-align: center;
}

.footer-copyright a {
    cursor: pointer;
}

.footer-copyright a:hover {
    color: var(--hover-to-hero-color);
}

.footer-social-icon {
    display: flex;
    gap: 30px;
    align-items: center;
}
